.myHeader {
    padding: 10px;
    padding-left: 50px;

    background-color: #FFC75F;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.title {
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: left;
    padding-left: 60px;
}

.welcome {
    color: #845EC2;
    font-size: 25px;
    font-family: 'Snachez', serif;
    text-align: center;
}

.lastSearches {
    color: #845EC2;
    font-size: 25px;
    font-family: 'Snachez', serif;
    text-align: center;
}

.btn {
    border-radius: 5px;
    background-color: #845EC2;
    color: whitesmoke;
    margin-left: 30px;
    font-family: 'Sanchez', serif;
    padding-inline: 10px;
}
  
 .btn:hover {
   background-color: rgb(201, 170, 219);
   color: whitesmoke;
 }

ul.history {
    list-style-type: circle;
    list-style-position: inside;
    color: #845EC2;
    margin: 50px;
}



@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');