.myHeader {
    padding: 10px;
    padding-left: 50px;

    background-color: #FFC75F;
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.Translation {
    background-color: #FFC75F;
}

.title {
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: left;
    padding-left: 60px;
}

.font-weight-light {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: left;
    padding-left: 60px;
}

input {
    font-family: 'Sanchez', serif;
}

.TranslateSubmit {
  border-radius: 5px;
  background-color: #845EC2;
  color: whitesmoke;
  margin-left: 30px;
  font-family: 'Sanchez', serif;
  padding-inline: 10px;
}

.TranslateSubmit:hover {
  background-color: rgb(201, 170, 219);
  color: whitesmoke;
}

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');