body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: rgb(243, 243, 102);
}

nav ul {
  list-style: none;
  float: right;


}

nav ul li {
  border: 1px black groove;
}

a {
  text-decoration: none;
}

button {
  height: 20px;
  min-width: 20px;
  width: auto;

}

#TranslationWindow {

  background-color: white;
  border: 2px black groove;
  width: 300px;
  height: 150px;
  margin: 0 auto;
  margin-top: 50px;
}